
#navbar {
  transition: background-color 0.5s ease, color 0.5s ease;
}


.nav-link {
  padding: 6px 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #2563eb; 
}


.section {
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.section h2 {
  font-size: 3rem;
  font-weight: bold;
}

.section p {
  margin-top: 10px;
  font-size: 1.1rem;
}
